<div data-options="dxView: {name: 'delegate', title: 'Delegate'}">
  <div data-options="dxContent: {targetPlaceholder: 'content'}">
  	
		<div class="main">
			<p style="font-size:larger;">Delegate Name: <b data-bind="text: name"></b></p>
			<p style="font-size:larger;">Workshop Time: <b data-bind="text: workshop"></b></p>
			<p style="font-size:larger;">Case1 Time: <b data-bind="text: case1"></b></p>
			<p style="font-size:larger;">Case2 Time: <b data-bind="text: case2"></b></p>
		  
		  
		  <!--slideOut doesn't work yet-->
		  <!-- <div id="slideOut" data-bind="dxSlideOut:{dataSource: items, selectedIndex: selectedIndex}"></div> -->

		</div>	
  </div>

</div>