<div data-options="dxView: {name: 'home'}">
    <div data-options="dxContent: {targetPlaceholder: 'content'}">
        <div class="main">
            <div class="twitter">
                <img src="images/twitter.png">
            </div>
            <div class="twitter-logo">
                <img src="images/twitter-logo.png">
            </div>
            <div class="btn btn-block btn-lg btn-info" data-bind="dxButton: { text: 'See All', clickAction: viewMain }">
            </div>
        </div>
    </div>
</div>