<div data-options="dxView: {name: 'stream', title: 'News Feed'}">
  <div data-options="dxContent: {targetPlaceholder: 'content'}">
  	
		<div class="main" style="height:99%;">


			<div id="delegate-list" style="margin: 10px;" data-bind="dxList: { dataSource: listDataSource, grouped: false, noDataText: 'No Tweets Found'}">
				<div class="listItem" data-options="dxTemplate:{ name:'item' }">
			  		
				    <div style="display:inline-block; margin: 5px;">
				    	<p class="tweet-content" data-bind="html: text"></p>
				    	<p class="tweet-date" data-bind="html:created_at"></p>
				    </div>
			  	</div>
			</div>
			<div data-bind="dxCommand: { id: 'myCommand', action:tweet}"></div>		  
		  
			<div data-bind="dxPopup:{visible: tweetPopUp, title: 'Tweet', showTitle: false, fullScreen:true, animation: animate}">
				<div class="layout-header dx-toolbar">
		            <div class="layout-toolbar" data-bind="dxToolbar: { items: barItems}" ></div>
		        </div>
		        <div class="main" style="height:99%; width:100%;">
			    	<iframe src="https://twitter.com/intent/tweet?hashtags=ignite2014,shahmeer&text=&lang=eng&related=uwdeca"></iframe>
			
			    </div>
			</div>

		</div>	
  </div>

</div>