<div data-options="dxView: {name: 'delegate', title: 'Delegate'}">
  <div data-options="dxContent: {targetPlaceholder: 'content'}">
  	
		<div class="main" style="text-align:center; width:100%;">
			<div data-bind="dxScrollView:{}">
			<p style="font-size:larger; margin:15px 0;"><b data-bind="text: name"></b></p>
			<!-- <p style="font-size:larger;">Workshop Time: <b data-bind="text: workshop"></b></p>
			<p style="font-size:larger;">Case1 Time: <b data-bind="text: case1"></b></p>
			<p style="font-size:larger;">Case2 Time: <b data-bind="text: case2"></b></p>  -->

			
				<div class="delegate_section">
					<h3 style=" margin:0 auto 10px; width:95%; border-bottom:1px solid #5994BB; padding-bottom:5px;">Case 1</h3>
					<p style="margin-bottom:5px;"><span style="font-size:smaller;">Location:</span> <span data-bind="html:c1Loc"></span></p>
					<p><span style="font-size:smaller;">Time:</span> <span data-bind="html:c1Time"></span></p>
				</div>
			  
			  	<div class="delegate_section">
					<h3 style=" margin:0 auto 10px; width:95%; border-bottom:1px solid #D54D53; padding-bottom:5px;">Case 2</h3>
					<p style="margin-bottom:5px;"><span style="font-size:smaller;">Location:</span> <span data-bind="html:c2Loc"></span></p>
					<p><span style="font-size:smaller;">Time:</span> <span data-bind="html:c2Time"></span></p>
				</div>
			  
			  	<div class="delegate_section">
					<h3 style=" margin:0 auto 10px; width:95%; border-bottom:1px solid #8E5FA0; padding-bottom:5px;">Workshop</h3>
					<p style="margin-bottom:5px;"><span style="font-size:smaller;">Location:</span> <span data-bind="html:wLoc"></span></p>
					<p><span style="font-size:smaller;">Time:</span> <span data-bind="html:wTime"></span></p>
				</div>
			</div>

		</div>	
  </div>

</div>