<div data-options="dxView: {name: 'events', title: 'Conference Schedule'}">
  <div data-options="dxContent: {targetPlaceholder: 'content'}">
  	
		<div class="main" style="text-align:center; width:100%;">
			<div id="tabs" data-bind="dxTabs: { dataSource: tabs, itemClickAction: changeDay, selectedIndex:0 }"></div>
			
			<div id="tab-content" data-bind="dxList: { dataSource: schedule, grouped: false, noDataText: 'No Data Found', height:'95%', autoPagingEnabled: false}">

				<div class="listItem conference_schedule_item" data-options="dxTemplate:{ name:'item' }">
				  
				  	<div class="delegate_section">
						<h3 data-bind="html: title" style=" margin:0 auto 10px; width:95%; border-bottom:1px solid #D54D53; padding-bottom:5px;"></h3>
						<p style="margin-bottom:5px;"><span style="font-size:smaller;">Location:</span> <span data-bind="html:location"></span></p>
						<p><span style="font-size:smaller;">Timing:</span> <span data-bind="html:humanStartTime"></span> - <span data-bind="html:humanEndTime"></span></p>
					</div>
				</div>
			</div>

		</div>	
  </div>

</div>