#contents img {
	position: absolute;
	width: 100%;
}

#dropdown{
	position: absolute;
	bottom: 10%;
	display: none;
}

#locations{
	margin-left: 10px;
	margin-top: 20px;
}

#popup{
	margin-left: 10px;
}

#list{
	margin-left: 10px;
}