<div data-options="dxView: {name: 'speakers', title: 'Speakers'}">
  <div data-options="dxContent: {targetPlaceholder: 'content'}">
  	
		<div class="main" style="width:100%;">
			<div data-bind="dxScrollView:{}">
			<!-- <p style="font-size:larger;">Workshop Time: <b data-bind="text: workshop"></b></p>
			<p style="font-size:larger;">Case1 Time: <b data-bind="text: case1"></b></p>
			<p style="font-size:larger;">Case2 Time: <b data-bind="text: case2"></b></p>  -->

			
				<div class="delegate_section">
					<img src="images/hamoon.png" width="100px" style="float:left;  margin-right:10px;"/>

					<h3 style=" margin:0 auto 10px; width:95%; border-bottom:1px solid #5994BB; padding-bottom:5px;">Hamoon Ektiari</h3>
					<p  style="margin-bottom:10px; font-size:smaller;">MaRS Discovery District – Director, Studio Y</p>
					<h4>As the director of Studio Y, Hamoon leads an initiative focused on fostering a movement of young systems change leaders equipped to thrive in the new economy and drive impact in the world. </h4>
					<div class="clearflix"></div>
				</div>

				<div class="delegate_section">
					<div style="float:left; margin-right:10px; width:100px; height:200px; overflow:hidden;"><img src="images/tay.png" width="100px"/></div>

					<h3 style=" margin:0 auto 10px; width:95%; border-bottom:1px solid #5994BB; padding-bottom:5px;">Ray Archer</h3>
					<p  style="margin-bottom:10px; font-size:smaller;">Scotiabank – Senior VP &nbsp; Chief Information Security Officer (CISO)</p>
					<h4>Ray joined Scotiabank in 1998 as the Forensics Investigator with Corporate Security and has held numerous progressive roles within the Bank since then.</h4>
					<div class="clearflix"></div>
				</div>
			  
			</div>

		</div>	
  </div>

</div>