<div data-options="dxView: {name: 'workshops', title: 'Workshops'}">
  <div data-options="dxContent: {targetPlaceholder: 'content'}">
  	
		<div class="main" style="width:100%;">
			<div data-bind="dxScrollView:{}">
			<!-- <p style="font-size:larger;">Workshop Time: <b data-bind="text: workshop"></b></p>
			<p style="font-size:larger;">Case1 Time: <b data-bind="text: case1"></b></p>
			<p style="font-size:larger;">Case2 Time: <b data-bind="text: case2"></b></p>  -->
				<div class="delegate_section">
					<div style="float:left; margin-top:25px; margin-right:10px; width:100px; height:200px; overflow:hidden;"><img src="images/sponsors/4.png" width="100px"/> <img style="margin-top:20px;" src="images/sponsors/3.png" width="100px"/></div>

					<h3 style=" margin:0 auto 10px; width:95%; border-bottom:1px solid #5994BB; padding-bottom:5px;">Big 4 Accounting Firms Workshop</h3>
					<p  style="margin-bottom:10px; font-size:smaller;">KPMG and PWC</p>
					<h4 style="margin-right:10px;">The Big 4 Accounting Firms have collectively agreed to sponsor the Conference, with KPMG and PwC hosting a joint workshop for our delegates on Saturday morning. The two firms are Canadian leaders in delivering industry focused assurance, advisory and tax services for public, private and government clients.</h4>
					<div class="clearflix"></div>
				</div>
				<div class="delegate_section">
					<div style="float:left; margin-right:10px; width:100px; height:200px; overflow:hidden;"><img src="images/sponsors/eric.jpeg" width="100px"/><img src="images/sponsors/robin.jpg" width="100px"/></div>

					<h3 style=" margin:0 auto 10px; width:95%; border-bottom:1px solid #5994BB; padding-bottom:5px;">Value Investing 101</h3>
					<p  style="margin-bottom:10px; font-size:smaller;">Robin Speziale and Eric Arruda</p>
					<h4 style="margin-right:10px;">Robin Speziale is an experienced Senior Consultant while Eric Arruda is a Chartered Investment Manager (CIM®). Together, the two are co-founders of Rochforth Capital and they will be discussing the basics of value investing, how to select a value stock, and stock picking activity.</h4>
					<div class="clearflix"></div>
				</div>
				<div class="delegate_section">
					<div style="float:left; margin-right:10px; text-align:center; background-color:#000; width:100px; overflow:hidden;"><img src="images/sponsors/9.jpg" width="72px"/></div>

					<h3 style=" margin:0 auto 10px; width:95%; border-bottom:1px solid #5994BB; padding-bottom:5px;">Dress for Success</h3>
					<p  style="margin-bottom:10px; font-size:smaller;">IM Label</p>
					<h4 style="margin:20px 10px 0;">IM-Label was founded by three friends who shared similar attributes: a love for well-fitted clothing, a desire to grow their career in a different direction, and a keen entrepreneurial spirit. This Toronto provider of exceptional custom tailored products will be teaching our delegates all the know-how on professional attire.</h4>
					<div class="clearflix"></div>
				</div>
				<div class="delegate_section">
					<div style="float:left; margin-top:10px; margin-right:10px; width:100px; height:100px; overflow:hidden;"><img src="images/sponsors/2.JPG" width="100px"/></div>

					<h3 style=" margin:0 auto 10px; width:95%; border-bottom:1px solid #5994BB; padding-bottom:5px;">Networking Tips and Tricks</h3>
					<p  style="margin-bottom:10px; font-size:smaller;">School of Accounting and Finance</p>
					<h4 style="margin:20px 10px 0;">The School of Accounting and Finance (SAF) at the University of Waterloo produces outstanding students in the fields of corporate finance, investment management, public accounting, management accounting, and taxation.</h4><h4 style="margin:20px 10px 0;"> In addition to the programs at the undergraduate and Master’s level, SAF’s PhD program produced more accounting faculty than any other program in Canada. <br/> The workshop will explore the do’s and don’ts of networking, tips for personal branding, and ways to maintain meaningful connections.</h4>
					<div class="clearflix"></div>
				</div>

			  
			</div>

		</div>	
  </div>

</div>